<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>.</h1>

     <p>
      Chicken System has received a request to verify for your account.
    </p>
    <p>The status of your account is: <strong><%= @subject %>.</strong></p>
    <p>Thank you!</p>
  </body>
</html>
